body {
	background-color: lightblue;
}

#menu-items {
	display: flex;
	flex-wrap: wrap;
}

#sandwich-container {
	display: flex;
	flex-wrap: wrap;
}

#sandwich-holder, #sandwich-price {
	border: solid 2px black;
	text-align: center;
	min-height:200px;
	min-width: 250px;
	display: inline-block;
	margin: 2px;
}


ul {
	list-style: none;
}

.food-group {
	display: inline-block;
	width: 250px;
	height: 250px;
	border: solid 2px black;
	margin: 2px;
}

hr {
	width: 250px;
}
/*
span {
	display: block;
}
*/

.sandwich {
	margin: 0;
}